# Terraform files
*.tfstate
*.tfstate.backup
.terraform/
terraform.tfvars
*.tfplan
*.binary


# Ignore any sensitive output or logs
*.log
*.bak
*.tmp

# Ignore IDE/editor metadata
.vscode/
.idea/
*.swp
*.swo

# Go build/test files
*.exe
*.out
*.test
# *.mod
# *.sum

bin/
coverage.*

# Test output
/test/__pycache__/
/test/*.log
/test/*.txt


# OS-specific
.DS_Store
Thumbs.db

# Optional: logs created during development
deployment_logs/
